<div class="page-head">
    <div class="logo">
        <div class="kanji-mark">あ数</div>
        <h1>Japanese Learning</h1>  
    </div>
        <div class="nav">
            <nav class="main-nav">
                <a href="{{ '/index.html' | relative_url }}">あ Kana</a>
                <a href="{{ '/numbers.html' | relative_url }}">数 Numbers</a>
                <a href="{{ '/lessons.html' | relative_url }}">📖 Lessons</a>
                <button id="theme">🌙</button>                               
            </nav>
        </div>
</div>
